/* css reset by Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* main style */
@font-face {
    font-family: norsebold;
    src: url("font/Norse-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

body {
  display: flex;
  height: 100vh;
}

.banner {
  --bg: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: var(--bg);
  background-size: cover;
  color: white;
}

.page-title {
    font-family: norsebold;
    font-size: 8em;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.page-title img {
    height: 160px;
    width: auto;
}

.credit {   
    padding: 0.5em;
    text-align: center;
}

.credit a {
    color: inherit;
}

.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.main-content h2 {
  padding: 0 1.5em;
}

.form-input {
}
