/* css reset by Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* main style */
@font-face {
  font-family: norsebold;
  src: url("font/Norse-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

.banner {
  --bg: url(./images/halie-west-25xggax4bSA-unsplash.jpg);

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: var(--bg);
  background-size: cover;
  color: white;
}

.page-title {
  font-family: norsebold;
  font-size: 8rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.page-title img {
  height: 160px;
  width: auto;
}

.credit {
  padding: 0.5rem;
  text-align: center;
}

.credit a {
  color: inherit;
}

.main-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafb;
  gap: 0.5rem;
}

.main-content h2 {
  padding: 0 4rem;
}

.form-input {
  background-color: white;
  padding: 2rem 4rem;
  margin-top: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-input h2 {
  padding: 0;
}

form input {
  padding: 0.25rem 0.5rem;
  width: 35ch;
}

form input:invalid {
  border: solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}

form button {
  margin: 2rem 4rem;
  padding: 0.5rem 3rem;
  background-color: #596d48;
  color: white;
  border-radius: 8px;
  font-weight: 600;
}

.form-row {
  border: none;
  display: flex;
  gap: 4rem;
  padding: 1rem 0;
}

.text-input {
  display: flex;
  flex-direction: column;
}

.login {
  padding-left: 4rem;
}

.login a {
  color: #596d48;
}
